<!DOCTYPE html>
<div id="container" class="container" ng-controller="RecipesController" ng-init="getRecipes()">
    <h1>Add in your Own Recipe</h1>
    <div class="contents row">
        <main id="main" class="col">
            <div ng-repeat="recipe in data.recipes">
                <article ng-click="addingredient(recipe.ingredients)" class="info">
                    <div class="recipe">
                        <h4 class="title">
                            <strong>{{ recipe.title }}</strong>
                        </h4>
                        <div class="user">'Submitted by: {{ recipe.user }}'</div>
                        <div class="ingredients">Ingredients: {{ recipe.ingredients }}</div>
                        <div class="comments">Comments: {{ recipe.comments }}</div>
                    </div>
                </article>
            </div>
            <div ng-model="query" class="search" ng-repeat="result in searchresults">
                <article class="info">
                    <div class="result">
                        <span>
                            <img
                                ng-click="getingredients(result.recipe_id)"
                                ng-src="{{ result.image_url }}"
                            />
                            <div class="user">'Published by :{{ result.publisher }}'</div>
                            <a class="link" ng-href="{{ result.f2f_url }}">{{
                                result.f2f_url
                            }}</a>
                        </span>
                        <h4 class="title">
                            <strong>{{ result.title }}</strong>
                        </h4>
                    </div>
                </article>
            </div>
        </main>
    </div>
</div>