<!DOCTYPE html>
<div id="container" class="container" ng-controller="RecipesController" ng-init="getRecipes()">
    <h1>Add in your Own Recipe</h1>
    <div class="contents row">
        <sidebar id="sidebar" class="col">
            <div class="recipes">
                <div class="recipeinput">
                    <form ng-model="recipe" class="form-group" value="recipes" ng-submit="addOne()">
                        <div class="form-group">
                            <label>Add your name</label>
                            <input class="form-control" type="text" ng-model="recipe.user" name="user" placeholder="Anonymous" />
                        </div>
                        <div class="form-group">
                            <label> Whats your dish's name?</label>
                            <input class="form-control" type="text" ng-model="recipe.title" name="title" placeholder="title" />
                        </div>
                        <div class="form-group">
                            <label>List ingredients</label>
                            <input class="form-control" type="text" ng-model="recipe.ingredients" name="ingredients" placeholder="ingredients" />
                        </div>
                        <div class="form-group">
                            <label>Any comments or techniques</label>
                            <input class="form-control" type="text" ng-model="recipe.comments" name="comments" placeholder="comments" />
                        </div>
                        <button class="recipes">Submit recipe</button>
                    </form>
                </div>
            </div>
            <form ng-model="recipe" value="query" ng-submit="search()">
                <h2>Find a new recipe</h2>
                <input type="text" ng-model="query.param" name="param" placeholder="search" />
                <button>Search food2fork</button>
            </form>
            <article id="ingredientlist">
                <h1>Ingredient list</h1>
                <div ng-model="ingredientlist" class="ingredientlist" ng-repeat="ingredient in ingredientlist.ingredients track by $index">
                    <div class="ingredient" ng-click="ingredientlist.ingredients.splice($index,1)">
                        {{ ingredient }}
                    </div>
                </div>
            </article>
        </sidebar>
        <main id="main" class="col">
            <div ng-repeat="recipe in data.recipes">
                <article ng-click="addingredient(recipe.ingredients)" class="info">
                    <div class="recipe">
                        <h4 class="title">
                            <strong>{{ recipe.title }}</strong>
                        </h4>
                        <div class="user">'Submitted by: {{ recipe.user }}'</div>
                        <div class="ingredients">Ingredients: {{ recipe.ingredients }}</div>
                        <div class="comments">Comments: {{ recipe.comments }}</div>
                    </div>
                </article>
            </div>
            <div ng-model="query" class="search" ng-repeat="result in searchresults">
                <article class="info">
                    <div class="result">
                        <span>
              <img
                ng-click="getingredients(result.recipe_id)"
                ng-src="{{ result.image_url }}"
              />
              <div class="user">'Published by :{{ result.publisher }}'</div>
              <a class="link" ng-href="{{ result.f2f_url }}">{{
                result.f2f_url
              }}</a>
            </span>
                        <h4 class="title">
                            <strong>{{ result.title }}</strong>
                        </h4>
                    </div>
                </article>
            </div>
        </main>
    </div>
</div>