body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
  background-color: plum;
}
#sidebar {
    height: 1000px;
    width: 500px;
    background-color: purple;
}
#main {
    position: relative;
    margin-left: 250px;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}


#container {
  clear: both;
  margin-top: 10px;
}
.contents {
  display :inline-flex;
}

form {
  margin-top :100px
  margin: 20px;
  display: block;
  width : 30%

}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}
.info {
    display: table-cell;
    padding-left: 20px;
    border-style: double;
    width: 200px;
    margin-left: 50px
}
