html,
body {
    height: 100%
}

body {
    margin: 0;
    margin-top: 10px;
    font-family: arial, sans-serif;
    background-color: plum;
}

.appbody {
    height: 100%
}

#sidebar {
    height: 1000px;
    width: 500px;
    background-color: purple;
    color: aliceblue;
}

#main {
    position: relative;
    overflow-y: scroll;
    height: 1000px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

h1 {
    font-style: italic;
    margin-bottom: 10px;
}

#container {
    clear: both;
    margin-top: 10px;
}

.contents {
    display: inline-flex;
}

form {
    margin-top: 100px;
    margin: 20px;
    display: block;
}

input {
    width: 360px;
    display: block;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 5px;
}

input[type=url] {
    display: inline
}

input[type=url]:focus {
    outline: none;
}

.info {
    display: inline-table;
    padding-left: 20px;
    border-bottom: double;
    width: 100%;
}

img {
    max-height: 100px
}

#ingredientlist {
    background-color: plum;
    margin: 40px 20px 0px 20px;
    height: 20%;
    overflow-y: scroll;
}

div.result {
    display: flex;
    align-items: center;
}