<ul class="nav justify-content-end nav-tabs">
    <li class="nav-item">
        <a class="nav-link" ng-href="#/recipes">Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-href="#/makeARecipe">Add your own!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-href="#/findInspiration">Find inspiration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javscript:void(0)" ng-if="auth.isAuthenticated()" ng-click="auth.logout()">Log Out</a>
    </li>
</ul>
